/* General */

.container{
    margin: 30px 15%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

/* Header */

h1{
    font-family: 'Cooper Black', sans-serif;
    color: rgba(229,49,112,255);
    text-align: center;
    font-weight: 500; 
}

header > p{
    text-align: center;
    font-weight: 300;
    margin: 50px 0;
}



/* The Team */

.row{
    margin-bottom: 60px;
}

.col{
    float: left;
    width: calc((100% - 60px)/3);
    background-color: rgba(15,14,23,255);
}

.col:nth-child(2){
    margin: 0 30px;
}

.profile-ph{
    width: 100%;
}

.photo{
    width: 110px;
    float: left;
}

.info{
    line-height: 30px;
    float: left;
    margin-left: 15px;
}

.white{
    color: white;
}

.info-2{
    margin: 5px;
}

.mail{
    color: rgba(68,190,236,255);
}
















